.tsd-comment code {
  :not(pre)>& {
    background-color: #2c3437;
    border-radius: 0.4rem;
    border: .1rem solid rgba(255, 255, 255, .1);
    color: #e9edf0;
    font-family: SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 90%;
    line-height: 1.5rem;
    margin: 0;
    padding: 1px 4px;
  }
}

.col-content {
  table {
    border-collapse: collapse;
    border: 1px solid gray;
    margin-bottom: 1rem;
    width: 100%;

    th, td {
      border: 1px solid gray;
      padding: 0.2rem;
      vertical-align: middle;
    }

    thead th {
      border-bottom: 2px solid gray;
    }

    tbody + tbody {
      border-top: 2px solid gray;
    }
  }
}
