extends /include/bootstrap5

block beforehtml
  - title = 'Test'

block style
  style
    :sass
      [v-cloak]
        display: none

block content
  #app
    nav-bar(baseurl=baseurl)
    .container.font-monospace.p-3.pb-5(v-cloak)
      header.text-center.mb-3
        h4.d-flex.justify-content-center.align-items-center.icon-link
          span.svgmask.svgmask-chameleon-ultra
          = title
      include /include/bootstrap5-adapter-content
      .card.shadow.mb-2
        h6.card-header.icon-link
          span.svgmask.fs-1dot2em(style="--svgmask-url: url(https://api.iconify.design/icon-park-outline:tips.svg)")
          | Tips
        .card-body.overflow-hidden.fs-14px
          .mb-1 How to enable debug logs:
          ol.mb-0
            li.mb-1 Open devtools console
            li.mb-1
              | Run command to enable logs:
              code.p-1.m-1.border.border-secondary.rounded localStorage.debug = 'ultra:*'
            li.mb-1 Change Log Level: show "Verbose"
            li.mb-1 Select adapter (BLE or USB Serial)
            li Run snippets from docs
  include /include/bootstrap5-navbar-content

block script
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/vconsole@3/dist/vconsole.min.js")
  script.
    window.vConsole = new window.VConsole()
  script(type="module").
    import { ChameleonUltra } from 'chameleon-ultra.js'
    import Debug from 'chameleon-ultra.js/plugin/Debug'
    import WebbleAdapter from 'chameleon-ultra.js/plugin/WebbleAdapter'
    import WebserialAdapter from 'chameleon-ultra.js/plugin/WebserialAdapter'
    import { computed, createApp, reactive, watch } from 'vue'
    import { btnAdapterTips, loadPageStorage, savePageStorage, showLoading, swalFire } from '@app/js/bootstrap5-utils.mjs'
    import NavBar from '@app/js/bootstrap5-navbar.mjs'

    const ultraUsb = new ChameleonUltra()
    ultraUsb.use(new Debug())
    ultraUsb.use(new WebserialAdapter())
    const ultraBle = new ChameleonUltra()
    ultraBle.use(new Debug())
    ultraBle.use(new WebbleAdapter())

    window.vm = createApp({
      components: { NavBar },
      setup () {
        const ls = reactive({ adapter: 'ble' })
        const ss = reactive({})

        loadPageStorage(localStorage, ls)
        loadPageStorage(sessionStorage, ss)
        watch(ls, () => { savePageStorage(localStorage, ls) }, { deep: true })
        watch(ss, () => { savePageStorage(sessionStorage, ss) }, { deep: true })

        const ultra = computed(() => ls.adapter === 'usb' ? ultraUsb : ultraBle)

        return { btnAdapterTips, ls, ss, ultra, swalFire, showLoading }
      },
    }).mount('#app')
