//- https://github.com/livereload/livereload-js/blob/master/src/options.js
if NODE_ENV !== 'production'
  script.
    ;(function () {
      const pageUrl = new URL(location)
      const isHttps = pageUrl.protocol === 'https:'
      const port = Number(pageUrl.port) || (isHttps ? 443 : 80)
      window.LiveReloadOptions = {
        host: pageUrl.hostname,
        https: isHttps,
        port,
        snipver: 1,
      }
      const s = document.createElement('script')
      s.src = 'https://cdn.jsdelivr.net/npm/livereload-js@4/dist/livereload.js'
      const h = document.getElementsByTagName('head')[0]
      h.appendChild(s)
    })()
